<ion-header>
  <ion-toolbar>
    <ion-title>LMT End</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Wie vertraut sind sie mit dem Liefergebiet?</ion-label>
      <ion-select [(ngModel)]="experienceLevel" (ionChange)="updateButtonStatus()">
        <ion-select-option value="Familiar">Vertraut</ion-select-option>
        <ion-select-option value="Moderately Familiar">Mäßig vertraut</ion-select-option>
        <ion-select-option value="Not Familiar">Nicht vertraut</ion-select-option>
      </ion-select>
    </ion-item>
    
  </ion-list>

  <div class="start-tour-button-container" >
    <!-- <ion-button expand="full" (click)="saveCSVFile()" [disabled]="!isButtonEnabled">Daten in CSV exportieren</ion-button> -->
    <ion-button expand="full" (click)="endTour()" [disabled]="!isButtonEnabled">Ende der Tour</ion-button>
  </div>
</ion-content>