<ion-header>
  <ion-toolbar>
    <ion-title>LMT Start</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Was liefern Sie aus?</ion-label>
      <ion-select [(ngModel)]="deliveryOption" (ionChange)="updateButtonStatus()">
        <ion-select-option value="Parcel">Pakete</ion-select-option>
        <ion-select-option value="Letter">Briefe/Zeitschriften</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="start-tour-button-container">
    <ion-button expand="full" (click)="startTour()" [disabled]="!isButtonEnabled">Tour starten</ion-button>
  </div>
</ion-content>
